:host {
    background: white;
    display: block;
    height: 100%;
}

.builder-header {
    position: relative;
    z-index: inherit;
}

.builder {
    height: calc(100% - 50px);
}

.builder-panel {
    width: 320px;
    flex: initial;
}

.builder-render {
    background: #eee;
    padding: 1.5rem;
    height: 100%;
}

.region-item {
    border: 2px #555;
    border-style: dotted;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.region-item:hover {
    cursor: pointer;
    background: #FFF;
    text-decoration: none;
    color: #000;
}